input[type="button"], input[type="submit"] {
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(50%,#eaeaea), color-stop(50%,#dcdcdc), color-stop(100%,#b8b8b8));
    background: -moz-linear-gradient(center top, #eaeaea 0%, #eaeaea 50%, #dcdcdc 50%, #b8b8b8 100%);
    -webkit-box-shadow: 0px 1px .2px .2px #ffffff inset;
    -moz-box-shadow: 0px 1px .2px .2px #ffffff inset;
    box-shadow: 0px 1px .2px .2px #ffffff inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .5s 0;
    -moz-transition: all .5s 0;
    -o-transition: all .5s 0;
    transition: all .5s 0;
    text-shadow: 0px 1px 0px #dcdcdc;
    padding: 5px 20px;
    border-color: #a5a5a5;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    color: #3c3c3c;
    font-weight: bold;
}
input[type="button"], input[type="submit"]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(50%,#f7f7f7), color-stop(50%,#e9e9e9), color-stop(100%,#c5c5c5));
    background: -moz-linear-gradient(center top, #f7f7f7 0%, #f7f7f7 50%, #e9e9e9 50%, #c5c5c5 100%);
    -webkit-transition: 0 .5s 0;
    -moz-transition: 0 .5s 0;
    -o-transition: 0 .5s 0;
    transition: 0 .5s 0;
    text-shadow: 1px 1px 0px #ffffff;
    border-color: #cbcbcb;
    color: #565656;
}
input[type="button"], input[type="submit"]:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8b8b8), color-stop(50%,#dcdcdc), color-stop(50%,#eaeaea), color-stop(100%,#eaeaea));
    background: -moz-linear-gradient(center top, #b8b8b8 0%, #dcdcdc 50%, #eaeaea 50%, #eaeaea 100%);
    -webkit-box-shadow: 0px 1px .2px .2px #e6e6e6 inset;
    -moz-box-shadow: 0px 1px .2px .2px #e6e6e6 inset;
    box-shadow: 0px 1px .2px .2px #e6e6e6 inset;
    border-color: #cbcbcb;
    color: #565656;
}