<div id="submission-site">
  <h3><a href="http://www.ezinearticles.com" target="_blank">Ezine Articles</a></h3>
  <p>EzineArticles.com serves millions of unique visitors monthly and has over 100,000+ RSS feeds plus 700+ email alert lists designed to announce every new article posted to over 100,000 permission-based members/publishers. You will get a chance to receive a massive increase in exposure and a boost in credibility. You will be able to include a short blurb about yourself, your business, and your website in your Resource Box (located directly below your article body) that delivers pre-qualified visitors back to your website.</p>
</div>