<div id="logo">
  <h1><%=   link_to "Convenient Article List", root_path	  %></h1></br>
  <h2><%=	link_to "An Up-to-Date List of Article Submission Sites", root_path %></h2>
</div>
<div id="sign">
  <%	 if signed_in? %>
         <%=	 link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
  <%	 else %>
         <%=	 link_to "Sign in", new_user_session_path %>
  <%	 end %>
</div>